
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Adminpanel/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card p-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <span class="h4 d-block font-weight-normal mb-2">@ViewBag.userCount</span>
                        <span class="font-weight-light">Total Users</span>
                    </div>
                    <div class="h2 text-muted">
                        <i class="icon icon-people"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <span class="h4 d-block font-weight-normal mb-2">@ViewBag.orderCount</span>
                        <span class="font-weight-light">Totlal Orders</span>
                    </div>
                    <div class="h2 text-muted">
                        <i class="icon icon-tag"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <span class="h4 d-block font-weight-normal mb-2">@ViewBag.productCount</span>
                        <span class="font-weight-light">Total Products</span>
                    </div>
                    <div class="h2 text-muted">
                        <i class="icon icon-printer"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
