@using ISM_Final_Lahiye.Areas.Adminpanel.Models

@model Permission

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Adminpanel/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index", "Permission")" class="btn btn-warning"><i class="icon icon-action-undo"></i> Back</a>
<br />
<br />


<div class="card">
    <div class="card-header bg-light">
        Update Permission
    </div>
    <div class="card-body">
        <form action="@Url.Action("Update", "Permission", new {id = Model.per_id } )" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="normal-input" class="form-control-label">Permission link name :</label>
                        <input type="text" id="normal" class="form-control" name="per_link" value="@Model.per_link">
                    </div>
                </div>
                <div class="col-md-2 offset-md-6">
                    <div class="form-group">
                        <label class="form-control-label" style="color:transparent">hidden</label>
                        <input type="submit" class="form-control btn btn-primary" value="Save">
                    </div>
                </div>
            </div>
        </form> 
    </div>
</div>

